# Welcome to the MLB Playoff Win Predictor
Let\'s see what is the most impactful single factor to a team in winning games in the postseason of Baseball

## Abstract
I will viewing at a number of telling statistics and trying to find one that has a strong correlation to playoff wins. While fully explaining the importance of these single statistics for the team and how they might contribute to a team's success in the playoffs.

In [ ]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [140]:
batting24 = pd.read_csv("Data/Batting24.csv")
fielding24 = pd.read_csv("Data/Fielding24.csv")
relief24 = pd.read_csv("Data/Relief24.csv")
salaries24 = pd.read_csv("Data/Salaries24.csv")
starting24 = pd.read_csv("Data/Starting24.csv")
batting24 = batting24.rename(columns = {'Tm':'Team'})
fielding24 = fielding24.rename(columns = {'Tm':'Team'})
relief24 = relief24.rename(columns = {'TEAM':'Team'})
starting24 = starting24.rename(columns = {'TEAM':'Team'})

def standarize_teams(team):
    return team[team.index('\n')+1:]
relief24['Team'] = relief24['Team'].apply(standarize_teams)
starting24['Team'] = starting24['Team'].apply(standarize_teams)

fielding24 = fielding24[['Team', 'Rtot', 'Rdrs' ]].rename(columns = {'Rtot' : 'Total Zone', 'Rdrs' : "Defensive Runs Saved"})
batting24 = batting24[['Team', 'HR', 'OPS' ]].rename(columns = {'HR' : 'Home Runs', 'OPS' : "On Base Plus Slugging"})
starting24 = starting24[['Team', "WHIP", "ERA"]].rename(columns = {'WHIP' : "Starting Pitchers WHIP", "ERA" : "Starting Pitchers ERA"})
relief24 = relief24[['Team', "WHIP", "ERA"]].rename(columns = {'WHIP' : "Relief Pitchers WHIP", "ERA" : "Relief Pitchers ERA"})
salaries24 = salaries24[['Team', 'Total PayrollAllocations']].rename(columns = {'Total PayrollAllocations' : 'Team Salary'})
def mergetopia(dfs):
    totalmerge = dfs[0]
    for i in range(1, len(dfs)):
        totalmerge = pd.merge(totalmerge, dfs[i])
    return totalmerge
Team_Data24 = mergetopia([fielding24, batting24, starting24, relief24, salaries24])
Team_Data24

,Team,Total Zone,Defensive Runs Saved,Home Runs,On Base Plus Slugging,Starting Pitchers WHIP,Starting Pitchers ERA,Relief Pitchers WHIP,Relief Pitchers ERA,Team Salary
0,Arizona Diamondbacks,-11,13,211,0.777,1.34,4.79,1.37,4.41,"$178,306,829"
1,Atlanta Braves,10,35,213,0.724,1.20,3.58,1.18,3.32,"$238,433,901"
2,Baltimore Orioles,-21,1,235,0.751,1.24,3.77,1.23,4.22,"$110,835,494"
3,Boston Red Sox,28,49,194,0.741,1.19,3.81,1.34,4.39,"$188,537,445"
4,Chicago Cubs,12,37,170,0.710,1.22,3.77,1.29,3.81,"$232,067,975"
5,Chicago White Sox,-81,-87,133,0.618,1.36,4.62,1.53,4.73,"$140,497,547"
6,Cincinnati Reds,8,-30,174,0.693,1.23,4.09,1.28,4.09,"$102,254,855"
7,Cleveland Guardians,37,89,185,0.703,1.32,4.40,1.05,2.57,"$105,224,582"
8,Colorado Rockies,-7,20,179,0.704,1.50,5.54,1.55,5.41,"$146,100,965"
9,Detroit Tigers,38,50,162,0.685,1.19,3.69,1.14,3.55,"$96,971,614"
10,Houston Astros,39,1,190,0.741,1.24,3.81,1.25,3.66,"$248,559,896"
11,Kansas City Royals,10,47,170,0.710,1.20,3.55,1.33,4.13,"$125,470,914"
12,Los Angeles Angels,18,15,165,0.671,1.40,4.97,1.27,3.99,"$172,189,987"
13,Los Angeles Dodgers,10,66,233,0.781,1.26,4.23,1.18,3.53,"$256,370,208"
14,Miami Marlins,-56,-29,150,0.678,1.47,5.24,1.27,4.15,"$96,590,305"
15,Milwaukee Brewers,48,64,177,0.729,1.30,4.09,1.16,3.11,"$123,393,744"
16,Minnesota Twins,-56,-20,183,0.726,1.21,4.36,1.26,4.12,"$129,330,051"
17,New York Mets,0,18,207,0.734,1.25,3.91,1.28,4.03,"$317,483,315"
18,New York Yankees,4,31,237,0.761,1.25,3.85,1.24,3.62,"$314,741,274"
19,Oakland Athletics,-36,-64,196,0.694,1.36,4.76,1.29,3.83,"$62,132,581"
20,Philadelphia Phillies,-17,3,198,0.750,1.22,3.81,1.27,3.94,"$247,291,271"
21,Pittsburgh Pirates,-24,-7,160,0.672,1.26,3.95,1.38,4.49,"$84,050,989"
22,San Diego Padres,-37,-8,190,0.745,1.22,3.91,1.23,3.78,"$172,855,090"
23,Seattle Mariners,51,39,185,0.687,1.03,3.38,1.17,3.71,"$148,953,846"
24,San Francisco Giants,-46,-3,177,0.701,1.30,4.22,1.30,3.96,"$202,384,048"
25,St. Louis Cardinals,-3,29,165,0.703,1.26,4.33,1.25,3.64,"$179,432,759"
26,Tampa Bay Rays,13,-7,147,0.669,1.21,3.82,1.19,3.73,"$89,707,422"
27,Texas Rangers,26,33,176,0.686,1.25,4.35,1.37,4.41,"$227,545,408"
28,Toronto Blue Jays,33,102,156,0.703,1.23,3.95,1.34,4.82,"$219,088,534"
29,Washington Nationals,-25,-21,135,0.684,1.33,4.40,1.32,4.14,"$106,445,407"

Now we have completeley merged the 5 csv files that I gathers earlier into one Clean Dataset with all the teams in 2024 and their team statistics that I see as valuable variables that could contribute to a team winning more playoff wins. Now we have to merge a columns of playoffs wins that each of these teams had and see how these statistics measure up.

In [2]:
playoff_wins24 = pd.DataFrame({'Team' : ["Detroit Tigers", "Houston Astros", "Kansas City Royals", "Baltimore Orioles", "Cleveland Guardians", "New York Yankees", "New York Mets", "Philadelphia Phillies", "Milwaukee Brewers", "San Diego Padres", "Atlanta Braves", "Los Angeles Dodgers"], "Playoff Wins" : [4, 0, 2, 0, 3, 8, 7, 1, 1, 4, 0, 11]})
postseason_data24 = pd.merge(playoff_wins24, Team_Data24)
#plot.scatter(x = 'Playoff Wins', y = "Total Zone")

NameError: name 'Team_Data24' is not defined